# IQR

In [1]:
import pandas as pd
df=pd.read_csv('heights.csv')
df.sample(3)

       name  height
11  deepika     5.9
5    khusbu     5.4
16   donald     7.1

In [2]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [ ]:
# IQR = Q3-Q1
#     = 6.275000 - 5.350000
#     = 0.925

In [ ]:
# Lower limit = Q1-1.5*IQR
# Upper limit = Q3+1.5*IQR

In [3]:
IQR = df['height'].quantile(0.75) - df['height'].quantile(0.25)
IQR

0.9249999999999998

In [4]:
lower_limit = df['height'].quantile(0.25)-(1.5*IQR)
lower_limit

3.962500000000001

In [5]:
upper_limit = df['height'].quantile(0.75)+(1.5*IQR)
upper_limit

7.6625

In [6]:
data_no_outlier=df[(df['height']<upper_limit)&(df['height']>lower_limit)]
data_no_outlier.shape

(15, 2)

In [7]:
data_outlier=df[(df['height']>upper_limit)|(df['height']<lower_limit)]
data_outlier.shape

(5, 2)

# Re-practice

In [1]:
import pandas as pd
df=pd.read_csv('heights.csv')
df.sample(3)

       name  height
11  deepika     5.9
10     jose     5.8
6    dmitry     5.5

In [2]:
df.shape

(20, 2)

In [3]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [4]:
Q1 = df.height.quantile(0.25)
Q3 = df.height.quantile(0.75)
Q1,Q3

(5.3500000000000005, 6.275)

In [6]:
IQR = Q3-Q1
IQR

0.9249999999999998

In [11]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR 
lower_limit , upper_limit

(3.962500000000001, 7.6625)

In [12]:
df_no_outlier = df[(df.height<upper_limit)&(df.height>lower_limit)]
df_no_outlier.shape

(15, 2)